/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo del body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

/* Contenedor del login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #3c3c3c;
}

/* Caja del login */
.login-box {
    background-color: #3c3c3c;
    padding: 20px;
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo del logo */
.logo {
    width: 210px;
    height: 10rem;
    margin-bottom: 10px;
}

/* Título */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos de los inputs */
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Estilo del botón */
button {
    width: 90%;
    padding: 10px;
    background-color:  #148f77;
    color: white;
    margin-bottom: 30px;
    border:none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
   background-color: #117864; /* Verde más oscuro */
}

/* Estilo del pie de página */
footer {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold; /* Aplica negrita al texto */
}


