<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ortega Tours - Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <img src="../static/logo03-transformed.png" alt="Ortega Tours Logo" class="logo">
        <form>
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
    <footer>@Ortega Tours 2024</footer>
</div>
</body>
</html>
